### [ 파이썬과 MariaDB 연동 ] 
pymysql 설치

In [1]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

#### DB 연결

In [7]:
import pymysql#TODO 

# DB 연결 
conn = pymysql.connect(host="127.0.0.1", port = 3306,
                       user="root", password='root' , db='test', charset="utf8")


cur = conn.cursor()

###### SQL 실행

In [10]:
sql1 ="create table user (id varchar(100) primary key, name varchar(100), password varchar(100) ) DEFAULT CHARSET=utf8 "

In [11]:
cur.execute(sql1)

OperationalError: (1050, "Table 'user' already exists")

In [14]:
insert_sql1 = "insert into user values ('hong','홍길동','1234')" ;
cur.execute(insert_sql1)

1

In [15]:
insert_sql2 = "insert into user values ('lee','이길동','1234')" ;
cur.execute(insert_sql2)

1

In [17]:
insert_sql3 = "insert into user values ('chung','정길동','1234')" ;
cur.execute(insert_sql3)

1

##### 커밋

In [34]:
conn.commit()

#### select

In [21]:
select_sql = "select * from user " 
cur.execute(select_sql)

3

### 회원가입

In [28]:
while True:
    try:
        a = list(input().split())
        insert_sql = f"insert into user values ('{a[0]}','{a[1]}','{a[2]}')" ;
        cur.execute(insert_sql)
    except:
        cur.commit()
        break;

bock 복길동 2132

### 검색

In [36]:
while(True) :
    row = cur.fetchone()
    print(row[0],row[1],row[2])
    if row==None :
        break; 
    #TODO

TypeError: 'NoneType' object is not subscriptable